{% for intf in data['interfaces'] %}
set interface {{intf.name}} state on
set interface {{intf.name}} ipv4-address {{intf['ipv4-address']}} subnet-mask {{intf['subnet-mask']}}
{% endfor %}

{# WAN Interfaces Config #}
{% for intf in data['wan'] if intf['ipv4-address'] %}
    {%- if data['system']['HA'] == true -%}
        {%- if data['system']['DualISP'] == true -%}
            {%- if intf['name'] == 'LAN3' -%}
                {%- if data['system']['config_type'] == 'primary' -%}
                    add internet-connection interface LAN3 type static ipv4-address 169.254.10.1 mask-length 255.255.255.248 default-gw 169.254.10.3
                {%- else -%}
                    add internet-connection interface LAN3 type static ipv4-address 169.254.10.2 mask-length 255.255.255.248 default-gw 169.254.10.3
                {% endif %}
            {%- elif intf['name'] == 'LAN4' -%}
                {%- if data['system']['config_type'] == 'primary' -%}
                    add internet-connection interface LAN4 type static ipv4-address 169.254.11.1 mask-length 255.255.255.248 default-gw 169.254.11.3
                {%- else -%}
                    add internet-connection interface LAN4 type static ipv4-address 169.254.11.2 mask-length 255.255.255.248 default-gw 169.254.11.3
                {% endif %}
            {% endif %}
        {%- else -%}
            {%- if data['system']['config_type'] == 'primary' and intf['name'] == 'LAN3' -%}
                add internet-connection interface LAN3 type static ipv4-address 169.254.10.1 mask-length 255.255.255.248 default-gw 169.254.10.3
            {%- elif data['system']['config_type'] == 'secondary' and intf['name'] == 'LAN3' -%}
                add internet-connection interface LAN3 type static ipv4-address 169.254.10.2 mask-length 255.255.255.248 default-gw 169.254.10.3
            {% endif %}
        {% endif %}
    {%- else -%}
        {%- if intf['name'] == 'LAN3' -%}
            add internet-connection interface {{intf['name']}} type static ipv4-address {{intf['ipv4-address']}} subnet-mask {{intf['subnet-mask']}} default-gw {{intf['gateway']}}
        {% endif %}
    {% endif %}
{% endfor %}